@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    background-color: #f7f9fc;
    font-family: "Inter", sans-serif;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.user-dropdown i {
    top: 2px;
}




/* .accordion-menu .active-page ul li a.active {
    background-color: #f7f9fc;
} */
